<script>
$(document).ready(function(){
tinymce.init({
  selector: '.journal-post-editor',
  height: 500,
  width: 500,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
});
});
</script>
<div id="main-wrapper">
	<div ng-include="'admin1/angular_pages/navbar.html'"></div>
	<div class="main-wrap">
		<div ng-include="'admin1/angular_pages/sidebar1.html'"></div>
		<div class="main-content">
			<h1 class="page-header">Create New Eb Member</h1>
			<div class="create-btn text">
				<a href="#/NewEbMembers">Back to Eb Members</a>				
			</div>
			<div>
				<div class="form-box">					
					<form class="form-horizontal" enctype="multipart/form-data" name="eb_member_form" method="post" novalidate
					>	
						<div class="form-group">
							<label for="issn_number" class="col-sm-4 control-label">Post Slug</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="eb_member.eb_post_slug" id="eb_post_slug" name="eb_post_slug" required>								
							</div>
						</div>
						<div class="form-group">
							<label for="issn_number" class="col-sm-4 control-label">Journal Slug</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="eb_member.eb_journal_slug" id="eb_journal_slug" name="eb_journal_slug" required>								
							</div>
						</div>

						<div class="form-group">
							<label for="issn_number" class="col-sm-4 control-label">Eb Member Name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="eb_member.eb_member_name" id="eb_member_name" name="eb_member_name" required>								
							</div>
						</div>

						<div class="form-group">
							<label for="eb_member_email" class="col-sm-4 control-label">Eb Member Email</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="eb_member.eb_member_email" id="eb_member_email" name="eb_member_email">								
							</div>
						</div>

						<div class="form-group">
							<label for="issn_number" class="col-sm-4 control-label">Eb Member Photo</label>							
							<div class="col-sm-8">
								<!--<input type="text" class="form-control" id="eb_member_photo" name="eb_member_photo" ng-model="eb_member.eb_member_photo"> -->
<div id="upload_file_wrap">
<div id="global-file-upload-eb-member" global-file-upload></div>
<input type="hidden" class="form-control" value="{{eb_member.eb_member_photo}}" id="eb_member_photo" name="eb_member_photo">
<div ng-show="{{eb_member.eb_member_photo !== ''}}" class="repopulate-uploaded-file">							
	<ul class="qq-upload-list">
		<li><img height="100px" width="100px" src="http://www.avensonline.org/wp-content/uploads/{{eb_member.eb_member_photo}}"></li>
		<li><p class="file-name">{{eb_member.eb_member_photo}}</p></li>
		<li><span class="remove-file" ng-click="removeFile()"></span></li>
	</ul>
</div>									
</div>
							</div>
						</div>
						<div class="form-group">
							<label for="journal_name" class="col-sm-4 control-label">Main Category Name</label>
							<div class="col-sm-8">
								<select class="form-control" name="category_id" ng-model="eb_member.category_id">									
									<option value="10">Medical</option>
									<option value="20">Biotechnology</option>
									<option value="30">Biology</option>
									<option value="40">Pharmaceutical</option>
								</select>		
							</div>
						</div>
						<div class="form-group">
							<label for="journal_name" class="col-sm-4 control-label">Journal Name</label>
							<div class="col-sm-8">
								  <select class="form-control" ng-model="eb_member.journal_id" name="journal_id">
								  <optgroup label="Medical">
								    <option ng-repeat="j in journal_info" ng-selected="eb_member.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Medical'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Biotechnology">
								    <option ng-repeat="j in journal_info" ng-selected="eb_member.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Biotechnology'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Biology">
								    <option ng-repeat="j in journal_info" ng-selected="eb_member.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Biology'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Pharmaceutical">
								    <option ng-repeat="j in journal_info" ng-selected="eb_member.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Pharmaceutical'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>								  
								</select>
								<span style="color:red" ng-show="journal_post_form.journal_id.$dirty"><span ng-show="journal_post_form.journal_id.$error.required">This is required.</span></span>
							</div>
						</div>
						
						<div class="form-group" required="">
							<label for="banner_image" class="col-sm-4 control-label">Eb Member Country</label>
							<div class="col-sm-8">								
 								<input type="text" class="form-control" id="eb_member_country" name="eb_member_country" ng-model="eb_member.eb_member_country"
							</div>
						</div>
						</div>
						<div class="form-group" required="">
							<label for="banner_image" class="col-sm-4 control-label">Editor in chief</label>
							<div class="col-sm-8">
								<div class="radio-inline">
 								<label><input type="radio" value="1" id="editor_chief" name="editor_chief" ng-model="eb_member.editor_chief">Yes</label>									
								</div>
								<div class="radio-inline">
 								<label><input type="radio" value="0" id="editor_chief" name="editor_chief" ng-model="eb_member.editor_chief"> No</label>
 								</div>								
							</div>
						</div>
						<div class="form-group" required="">
							<label for="banner_image" class="col-sm-4 control-label">Eb Member Description</label>
							<div class="col-sm-8">								
 								<div class="row">
 									<div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container">
										<text-angular name="eb_member_desc" ng-model="eb_member.eb_member_desc"></text-angular>
									</div>
 								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-10">
								<input type="submit" ng-click="saveEbMember(eb_member)" name="insert" value="Save" class="btn btn-primary">
								<span class="server-response"><span class="loader" ng-if="server_msg"></span><span ng-bind="server_msg"></span></span>
							</div>
						</div>
					</form>						
				</div>
			</div>
		</div>
	</div>
</div>
</div>