
.fulltext-wrap a{color:#428bca !important;}
    body{text-align: left;
                     font-family: Roboto, Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 26px;
                     }
.fulltext-wrap #References ol li,.fulltext-wrap #references ol li {margin:10px 0;}
.fulltext-wrap p {font-size:14px;}
#references ol {margin-left:20px;}
#references ol li {list-style-type:decimal;}
      .journal-name h1{
        text-align: center;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
        font-size: 2em;
        color: #ffffff;
      }
      .issn-num{background-color: #fe6d01;padding: 8px;color: #ffffff;border-top:1px solid #ffffff;font-size: 1.1em;text-align: right;} 
      .issn-num p{margin: 0;}
      .site-header{background: none;height: auto;}
      .site-header .home-link{display: none;}
      .journal-info-box{position: relative;color: #ffffff;}
      .journal-info-box h1.entry-title{  position: absolute;top: 0;font-size: 2em;padding: 20px;text-shadow: 0 0 6px #222;}
      .journal-info-box .issn-number{font-size: 0.5em;overflow: hidden;top: 10px;position: relative;}
      .affix{position: fixed;top: 0;}
      .journal-name{background: url("https://www.avensonline.org/public/images/journal-banners/glycemic_banner.jpg") no-repeat scroll center top / 1600px auto;text-align: center;padding: 90px;position:relative;
      background-repeat:no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
    }
    #journal-sidebar-wrapper {margin: -40px 0 0;}
    #content {width: 100% !important;}
  }
.site-main{position:relative;}
    .nav-tabs{
        width: 220px;        
        border-radius: 0;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    .nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    .nav-tabs li:first-child{
        border-top: none;
    }
    .nav-tabs li a{
        margin: 0;
        padding: 8px 6px;
        border-radius: 0;
        text-align: center;
        color: #000000 !important;
    }    
    .nav-tabs li.active a, .nav-tabs li.active a:hover{
        color: #000000;
        background: #ebebeb;
        border: none;
    }
    .nav-stacked>li+li{margin-top:0; }
    .nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    .nav-tabs.affix{
        top: 0; /* Set the top position of pinned element */
    }
    .entry-content table,.entry-content table td{border: 1px solid #cccccc;}
    #myScrollspy {
      float: left;
      width: 140px;
  }
  .nav-tabs{background: #ffffff;    width: 140px;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);}
  #social-box{padding: 10px;background: #ffffff;border-radius: 5px;}
  .side-bar-box{   
     width: 220px;
    position: absolute;
    top: 470px;
    border: 1px solid #ddd;
    text-align: center;
}
  footer[role="contentinfo"]{border-top: none;}
  #myModal h4{font-size: 18px;margin: 0;}
  .modal-dialog{width: 270px;}
  .entry-content h2.ref{font-size: 16px;font-weight: bold;}
  ul.nav-box li:last-child{border-right: 0 none;}
  .btn{font-size: 15px;}
  .site-content article{border: none;margin: 0 0 0 0;}
  .form-group{overflow: hidden;}
  #reprints_order_form label{font-weight: normal;}
  #reprints_order_form sup,.error{color: #ff0000;font-weight: normal;}  
  /* 
  .site-content article{border-bottom: none;}
  .entry-content table{font-size: 1.2em;}
  #myModal h4{font-size: 1.5em;}
  .modal-header{height: 50px;} */
.side-bar-box.fix-pos{position:fixed;}
#content-right{width: 820px !important;    float: right;
    padding: 15px;
    border: 1px solid #ededed;
    margin-bottom: 25px;}
h1,h2,h3 {margin: 1.714285714rem 0;line-height: 1.5;}
.fulltext-wrap {margin: 30px 0;text-align: justify !important;position:relative;}
.fulltext-wrap ol, ul {list-style: none;margin: 0;padding: 0;}
#References ol,#References ul{list-style-type: decimal !important;margin-left: 20px;}
h2.ref {
    font-size: 16px;
    font-weight: bold;
}
#figure {
    margin: 15px 0;
}
#myModal .modal-header {cursor:pointer;}
#myModal .modal-header h4 {
    float: left;
    margin-right: 132px;
}
#myModal .modal-body {text-align:left;}
.fulltext-main-part {line-height:28px;}
   .fulltext-main-part .small-title {margin-bottom:20px;}
   .fulltext-main-part h1,.fulltext-main-part h2,.fulltext-main-part h3{margin: 0;padding: 0 0 20px 0;}
   .fulltext-main-part .para-text{padding-bottom: 20px;}
   .fulltext-main-part .info-main-heading {font-size: 20px;margin:0 0 10px 0;padding:0;font-weight:bold;}
   .fulltext-main-part .info-sub-heading {
    font-size: 18px;
    margin: 0;
    padding: 0 0 10px 0;
   }
   .fulltext-main-part .para-text ul {margin-left:20px;}
   .fulltext-main-part .para-text ul li {list-style-type: disc !important;}
   .fulltext-main-part .f-info-box {border-bottom: 1px solid #ccc;margin-bottom:20px;}
   .fulltext-main-part .f-info-box:last-child {border-bottom:0 none;}
   .fulltext-main-part .figure-info-box {
    background-color: #cccccc;
    padding: 15px;
    margin: 0 0 20px 0;
    overflow:hidden;
    }
   .fulltext-main-part .figure-info-box img {
    float: left;
    margin: 7px 10px 5px 0;
    display: inline-block;
    }
   .fulltext-main-part .article-main-part ul li {margin-bottom:10px;}
   .fulltext-main-part hr {padding:0;margin:20px 0;}
   .fulltext-main-part #references-info ol {list-style-type:decimal;margin:0 0 10px 15px;}
   .fulltext-main-part #references-info ol li {margin-bottom:5px;}
   ul.new-ul-with-bullets {margin-left:20px;}
   ul.new-ul-with-bullets li {list-style-type: disc !important;}
   .foot-note-border {
            border-top: 1px solid #ccc;
    width: 15%;
    margin-top: 0;
    margin-bottom: 0px;
   }
   .footnote-info-box {font-size:12px;}
a.download-pdf-btn {
    position: absolute;
    right: 15px;
    top: 8px;
    background: url(https://www.avensonline.org/public/images/download.png) no-repeat;
    background-size: 18%;
    display: inline-block;
    background-position: 0px 5px;
    background-color: #e6e0e0;
    padding: 2px 5px 0 40px;
    background-position: 5px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    z-index:99;
}
@media screen and (max-width: 1200px) {
  #myScrollspy,#myScrollspy1 {
      width: 100%;
  }
  #myScrollspy .nav-tabs, #myScrollspy1 .nav-tabs {
      width:100%;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  #content-right {
      width: 100% !important;
  }
  #colophon .container {
      width: 100% !important;
  }
  #colophon #footer-top {
      height: auto;
  }
  a.download-pdf-btn {
      top: -25px;
      right:0;
  }
}

.fulltext-main-part .figure-box {
          text-align: center;
    background: #ccc;
    margin: 20px 0;
    padding: 20px;
  }
  