<div id="main-wrapper">
	<div ng-include="'admin1/angular_pages/navbar.html'"></div>
	<div class="main-wrap">
		<div ng-include="'admin1/angular_pages/sidebar1.html'"></div>
		<div class="main-content">
			<h1 class="page-header">Collaborations Enquires</h1>			
			<div ng-controller="CollaborationsController">
			<div ng-if="collaborations">
				<table class="table table-striped">
				<tbody>				
				<tr><th>Contact Person</th><th>Email</th><th>University Name</th><th>Mail Address</th><th>Country</th><th>Telephone</th><th>Website Url</th><th>Number of members at University department</th><th>Sent Date</th></tr></tbody>
				<tr ng-repeat="(key,val) in collaborations">				
				{{val}}
				<td>{{val.contact_person}}</td><td>{{val.email}}</td><td>{{val.univer_name}}</td><td>{{val.mail_address}}</td>
				<td>{{val.country}}</td>
				<td>{{val.telephone}}</td>				
				<td>{{val.wesite_url}}</td>				
				<td>{{val.mem_univer_dept}}</td>				
				<td>{{val.created_date}}</td>				
				</tr>
				</table>
				</div>
				<div ng-show="collaborations.length == '0'">There are no Latest Articles found.</div>
			</div>
		</div>
	</div>
</div>