<script>
$(document).ready(function(){
tinymce.init({
  selector: '.journal-post-editor',
  height: 500,
  width: 700,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
});
});
</script>
<div id="main-wrapper">
	<div ng-include="'admin1/angular_pages/navbar.html'"></div>
	<div class="main-wrap">
		<div ng-include="'admin1/angular_pages/sidebar1.html'"></div>
		<div class="main-content">
			<h1 class="page-header">Create Journal page</h1>
			<div class="create-btn text">
				<a href="#/archives">Back to Journals Archive</a>				
			</div>
			<div>
				<div class="form-box">					
					<form class="form-horizontal" enctype="multipart/form-data" name="journal_archive_form" method="post" novalidate
					>																	
						<div class="form-group">
							<label for="journal_name" class="col-sm-3 control-label">Category Name</label>
							<div class="col-sm-9">
								<select class="form-control" name="category_id" ng-model="archive_info.category_id">										
									<option value="10">Medical</option>
									<option value="20">Biotechnology</option>
									<option value="30">Biology</option>
									<option value="40">Pharmaceutical</option>
								</select>
								<span style="color:red" ng-show="journal_post_form.category_id.$dirty"><span ng-show="journal_post_form.category_id.$error.required">This is required.</span></span>
							</div>
						</div>
						<div class="form-group">
							<label for="journal_name" class="col-sm-3 control-label">Journal Name</label>
							<div class="col-sm-9">
							<!-- <select class="form-control" ng-model="myColor" ng-options="journal_info.journal_name group by journal_info.category_name for journal_info in journal_info"></select>	 -->						
								<!-- <select class="form-control" name="category_id">
									<option val="">Select Category</option>
									<option value="10">Medical</option>
									<option value="20">Biotechnology</option>
									<option value="30">Biology</option>
									<option value="40">Pharmaceutical</option>
								</select> -->

								<select id="journal_name_select" class="form-control" ng-model="archive_info.journal_id" name="journal_id" ng-change="temp()">								
								  <optgroup label="Medical">
								    <option ng-repeat="j in journal_info" ng-selected="archive_info.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Medical'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Biotechnology">
								    <option ng-repeat="j in journal_info" ng-selected="archive_info.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Biotechnology'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Biology">
								    <option ng-repeat="j in journal_info" ng-selected="archive_info.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Biology'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>
								  <optgroup label="Pharmaceutical">
								    <option ng-repeat="j in journal_info" ng-selected="archive_info.journal_id==j.id?'selected':''" ng-if="j.category_name == 'Pharmaceutical'" value="{{j.id}}">{{j.journal_name}}</option>    
								  </optgroup>								  
								</select>
								<span style="color:red" ng-show="journal_post_form.journal_id.$dirty"><span ng-show="journal_post_form.journal_id.$error.required">This is required.</span></span>
							</div>
						</div>
						<!-- <div class="form-group">
							<label for="issn_number" class="col-sm-3 control-label">Jounral Slug</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="journal_slug" name="journal_slug"  ng-model="archive_info.journal_slug">

							</div>
						</div> -->
						<div class="form-group" required="">
							<label for="banner_image" class="col-sm-3 control-label">Archive Content</label>
							<div class="col-sm-9">								
								<!-- {{textarea_text}} -->
								 <!-- <textarea ui-tinymce="tinymceOptions" name="archive_desc" ng-model="archive_info.archive_desc"></textarea> -->
								 <div class="row">
							<div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container">
								<text-angular name="htmlcontent" ng-model="archive_info.archive_desc"></text-angular>
							</div>
							</div>
							</div>
						</div>
						<div class="form-group">
							<label for="archive_doi" class="col-sm-3 control-label">Archive DOI</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="archive_doi" name="archive_doi"  ng-model="archive_info.archive_doi">

							</div>
						</div>
						<div class="form-group">
							<label for="archive_doi" class="col-sm-3 control-label">Archive In</label>
							<div class="col-sm-9">
								<!-- <input type="text" class="form-control" id="archive_in" name="archive_in"  ng-model="archive_info.archive_in"> -->
								<select class="form-control" name="archive_in" id="archive_in" ng-model="archive_info.archive_in">
									<option ng-repeat="a in archive_type" ng-selected="a.id==archive_info.archive_in?'selected':''" value="{{a.id}}">{{a.name}}</option>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label for="archive_year" class="col-sm-3 control-label">Archive Year</label>
							<div class="col-sm-9">
								<!-- <input type="text" class="form-control" id="archive_year" name="archive_year"  ng-model="archive_info.archive_year"> -->
								<select name="archive_year" id="archive_year" class="form-control" ng-model="archive_info.archive_year">
								<option value="">Select Year</option>
									<option ng-repeat="y in archive_years" value="{{y}}" ng-selected="archive_info.archive_year==y?'selected':''">{{y}}</option>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label for="archive_year" class="col-sm-3 control-label">Archive Volume</label>
							<div class="col-sm-9">
								<!-- <input type="text" class="form-control" id="archive_volume" name="archive_volume"  ng-model="archive_info.archive_volume"> -->
								<select class="form-control" name="archive_volume" id="archive_volume" ng-model="archive_info.archive_volume">
									<option value="">Select Archive</option>									
									<option ng-repeat="v in volumes_arr" value="{{v.id}}" ng-selected="archive_info.archive_volume==v.id?'selected':''">{{v.name}}</option>
<option ng-repeat="v in supli_arr" value="{{v.supli_name}}">{{v.supli_name}}</option>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label for="archive_fulltext" class="col-sm-3 control-label">Archive Fulltext</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="archive_fulltext" name="archive_fulltext"  ng-model="archive_info.archive_fulltext">

							</div>
						</div>
						<div class="form-group">
							<label for="archive_pdf" class="col-sm-3 control-label">Archive PDF</label>
							<div class="col-sm-9">
								<!--- <input type="text" class="form-control" id="archive_pdf" name="archive_pdf"  ng-model="archive_info.archive_pdf"> --->
<div id="upload_file_wrap">
							<div id="global-file-upload-archive-pdf" global-file-upload></div>
							<input type="hidden" class="form-control" value="{{archive_info.archive_pdf}}" id="archive_pdf" name="archive_pdf">

							<div ng-show="{{archive_info.archive_pdf}}" class="pdf-upload repopulate-uploaded-file">							
								<ul class="qq-upload-list">
									<li><p class="file-name">{{archive_info.archive_pdf}}</p></li>
									<li><span class="remove-file" ng-click="removeFile()"></span></li>
								</ul>
							</div>

							</div>

							</div>
						</div>
                                                <div class="form-group">
							<label for="archive_pdf" class="col-sm-3 control-label">S PDF</label>
							<div class="col-sm-9">
								<!--- <input type="text" class="form-control" id="supli_pdf" name="supli_pdf"  ng-model="archive_info.supli_pdf"> --->
<div id="upload_file_wrap">
								<div id="global-file-upload-s-pdf" global-file-upload></div>
							<input type="hidden" class="form-control" value="{{archive_info.supli_pdf}}" id="supli_pdf" name="supli_pdf">

							<div class="pdf-upload repopulate-uploaded-file" ng-show="{{archive_info.supli_pdf}}">							
								<ul class="qq-upload-list">
									<li><p class="file-name">{{archive_info.supli_pdf}}</p></li>
									<li><span class="remove-file" ng-click="removeFile()"></span></li>
								</ul>
							</div>
                            </div>


							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-10">
								<input type="submit" ng-click="saveJournalArchive(archive_info)" name="insert" value="Save" class="btn btn-primary">
							</div>
						</div>
					</form>						
				</div>
			</div>
		</div>
	</div>
</div>
</div>