<div id="signin-box">
	<form class="form-signin" name="loginForm" method="post">
		<div id="app-img"><img src="http://www.avensonline.org/public/images/logo.png" alt="Avens Publishing Group"></div>
		<label for="Username" class="sr-only">Email address</label>		
		<input type="text" name="user_name" ng-model="user.user_name" value="" placeholder="Username" class="form-control" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" ng-model="user.password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block"  ng-click="checkLogin(user)" type="submit">Sign in</button>
	</form>
</div