<div id="main-wrapper">
	<div ng-include="'admin1/angular_pages/navbar.html'"></div>
	<div class="main-wrap">
		<div ng-include="'admin1/angular_pages/sidebar1.html'"></div>
		<div class="main-content">
		<h1 class="page-header">SupliTypes</h1>
			<div class="create-btn"><a href="#/EditSuplitype/0" class="btn btn-primary">Create Supli Type</a></div>
			<div ng-controller="SuplitypeController">
			
				<div ng-if="suplitypes">

					<table class="table table-striped">
				<tbody>
				<tr><th>Supli Name</th><th>Journal ID</th><th>Created On</th><th></th><th></th></tr></tbody>
				<tr ng-repeat="(key,val) in suplitypes">				
				{{val}}
				<td>{{val.supli_name}}</td><td>{{val.journal_id}}</td>
				<td>{{val.created_date}}</td>
				<td><a href="#/EditSuplitype/{{val.id}}">Edit</a></td>
				<td><a href="">Delete</a></td>
				</tr>
				</table>

				</div>
				<div ng-show="suplitypes.length == '0'">There are no Supli Types found.</div>
			</div>
		</div>
	</div>
</div>